.about {
    background-color: var(--header-color);
    padding-top: 0;
} 
.about-item:not(:last-child) {
    margin-right: 30px;
}
.about-list {
    display: flex;
}

.about-title {
    @extend %title-list;
}

.about-box {
    position: relative;
    
}


.about-item-text {
    position: absolute;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    width: 100%;
    height: 70px;
    @extend %align-list;
    justify-content: center;
}