.clients-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    margin-bottom: 50px;
}


.clients-box {
    width: 170px;
    height: 92px;
    border: 1px solid var(--color-icon);
    border-radius: 4px;
    @extend %align-list;
    justify-content: center;
    color: var(--color-icon);
    transition: color var(--main-transition-duration) var(--main-transition-timing),
    border-color var(--main-transition-duration) var(--main-transition-timing);
}


.clients-item{
    cursor: pointer;
    & :hover,
    &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}
&+&{
    margin-left: 30px;
}
}

.clients-icon {
    fill: currentColor;
}



.clients-list{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}